* {padding: 0; margin: 0}

body {
    background: #daebff;
}

.editModal-background {
    background: rgba(46, 46, 49, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editModal-container{
    background: white;
    height: 23rem;
    width: 30rem;
    z-index: 4;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.editModal-heading {
    margin-top: 1.5rem;
    font-size: 1.75rem;
    font-weight: 800;
}

.margin-left {
    margin-left: 2rem;
}

.editModal {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    grid-gap: 1.5rem;
}

.row-1 {
    display: flex;
    grid-gap: 2.5rem;
}

.row-2 {
    display: flex;
    grid-gap: 2.5rem;
}

.edit-input-container {
    height: 5rem;
    width: 11.5rem;
}

.edit-heading-container {
    height: 1.5rem; 
    font-size: 1rem;
    font-weight: bold;
}

.edit-dropdown-container {
    height: 2.5rem;
    width: 100%;
    margin-top: 0.5rem;
}

.edit-dropdown-container > * {
    border: 0.5px solid lightgrey;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.editModal-btn-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    left: 43%;
    width: 50%;
    top: 5%;
}

.editSaveBtn {
    border: none;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    font-weight: bold;
}

.cancelBtn {
    color: grey;
    font-size: 1.1rem;
    font-weight: bold;
}

.cancelBtn:hover {
    cursor: pointer;
}

.passwordEditModal {
    height: 100%;
    width: 100%;
}

.passwordContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    height: 65%;
    justify-content: space-around;
    gap: 1rem;
}

.password-input-container {
    height: 5rem;
    width: 100%;
}

.pswrdCont {
    width: 100%;
}

.pswrdCont:focus {
    outline: none;
}

.passwordSaveBtn {
    border: none;
    height: 2.5rem;
    width: 7rem;
    border-radius: 5px;
    background: dodgerblue;
    color: white;
    font-weight: bold;
}

.lessMarginTop {
    margin-top: 0.5rem !important;
}

.forgotPassword {
    position: absolute;
    left: 75%;
    font-size: 0.9rem;
    color: dodgerblue;
    font-weight: bold;
}

.forgotPassword:hover {
    cursor: pointer;
}

.navbar-container {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,4,72,1) 0%, rgba(9,9,121,1) 66%, rgba(8,40,142,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.left-container {
    height: 20px;
    width: 30%;
    position: relative;
    left: 5rem;
    top: -1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.right-container {
    position: relative;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 1.5rem;
}

.right-container li {
    list-style-type: none;
}

.right-container > * {
    text-decoration: none;
    color: white;
}

.right-container > *:visited {
    text-decoration: none;
    color: white !important; 
}

.right-container li {
    list-style-type: none;
}

.right-container li:hover {
    cursor: pointer;
}

.loading-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(211, 211, 211, 0.3);
    z-index: -2; /* change */
    display: flex;
}

.loader-container {
    position: absolute;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 100%;
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.secContainer {
    height: 80%;
    width: 85%;
    /* background: lightgreen; */
    display: grid;
    grid-template-columns: 1.25fr 4fr;
    grid-gap: 3rem;
}

.leftSecContainer {
    height: 35rem;
    width: 100%;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.ticket-sort-heading {
    font-size: 2rem;
    margin-left: 2rem;
}

.whiteBackground {
    height: 60vh;
    width: 100%;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.profilePhotoContainer {
    background: lightcoral;
    height: 20vh;
    margin: 0 40px;
    margin-top: 3rem;
    border-radius: 10px;
}

.profileBackground {
    height: 100%;
    width: 100%;
    /* background: red; */
}

.profileText {
    display: flex;
    justify-content: center;
    position: relative;
    top: -60%;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.details {
    height: 4rem;
    margin: 0 30px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
}

.personalProfile {
    color: lightgrey;
}

.menu {
    margin: 0 30px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu li {
    background: 1rem;
    list-style: none;
    height: 2.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.text a {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.menuSelected {
    color: dodgerblue !important;
    background: skyblue;
}

.menu li:hover {
    cursor: pointer;
}

.logout {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.logout:visited {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.logo {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.text {
    margin-left: 1rem;
    font-weight: bold;
}

.rightSecContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.card {
    height: 35vh;
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading-container {
    width: 100%;
    margin-top: 1rem;
    margin-left: 2rem;
}

p {
    margin: 0; padding: 0;
}

.heading {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.subheading {
    color: grey;
    font-size: 1rem;
    font-weight: 500;
}

.details-container {
    height: 100%;
    width: 100%;
}

.editBtnContainer {
    position: absolute;
    left: 80%;
    top: 10%;
}

.edit-btn {
    border: none;
    width: 6rem;
    border-radius: 5px;
    height: 3rem;
}

.details-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.details-table {
    margin: 0 2.5rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rows {
    background: white;
    height: 100%;
    grid-gap: 1rem;
    border-bottom: 1px solid lightgrey;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.row-heading {
    font-size: 0.8rem;
    color: grey;
    position: relative;
    top: 0.5rem;
}

.row-info {
    font-size: 1.1rem;
    position: relative;
    top: 0.5rem;
}

.login-table {
    height: 80% !important;
}

.login-details-container {
    height: 17rem;
}

.editProfile {
    border: none;
    width: 5rem;
    background: white;
    color: dodgerblue; 
}

.individual-flight-ticket-container {
    height: 8rem;
    width: 90%;
    /* background: lightpink; */
    border: solid 1px black;
    margin: 2rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.logo-container {
    /* background: lightblue; */
    height: 100%;
    background: white;
    width: 20%;
}

.flight-ticket-details {
    margin-left: 4rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    /* grid-template-rows: 2fr 1fr; */
}

.first-column, .third-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.first-column {
    align-items: flex-end;
}

.third-column {
    align-items: flex-start;
}

.second-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.third-column {
}

.fourth-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.fourth-column p {
    margin: 0;
    padding: 0;
}

.number {
    font-size: 0.9rem;
}

.price {
    font-size: 1.3rem;
    position: relative;
    left: 0.5rem;
    font-weight: bold;
}

.time {
    font-weight: bold;
    margin: 0;
}

.flight-ticket-icon {
    height: 2.5rem;
    width: 3rem;
}

.companyLogo {
    height: 100%;
    width: 100%;
    border-right: solid 1px black;
}

.fixed {
    position: sticky !important;
    top: 2rem;
}

.tickets-container {
    height: 100%;
}

.ticket-details-container {
    height: auto;
}

#pie-chart-container {
    height: 27rem;
    /* width: 3rem; */
    overflow: visible !important;
}

#dashboard-card {
    height: 29rem;
}